.topBarFlex{
    display: flex;
    flex-flow: row;
    background-color: #3B3B3B;
}

.bar{
    flex-grow: 1;
    align-self: center;
}

.logoBar{
    max-width: 10vw;
    margin-top: 0;
}

.profil{
    margin-right: 1vw;
}

.pro{
    color: white;
    margin-top: 1vh;
}

.MuiTab-root {
    color: white !important;
}

.spinnerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}